appdirs==1.4.3
asgiref==3.2.7
bson==0.5.9
click==7.1.1
distlib==0.3.0
Django==3.1.12
django-request==1.5.5
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
render==1.0.0
selenium==3.141.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
virtualenv==20.0.17
Werkzeug==1.0.1
zipp==3.1.0
